# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


# Promela


build/*
dist/*
promela/_version.py
*parsetab.py
.coverage
.DS_Store
Icon?

*.*~
__pycache__
*.pyc
*.swp
*.pdf
*.PDF
*.txt
*.log
*.egg-info
*.html
*.css
*.p
*.m
*.t
*.b
*.pre
